
.category
    .category--all
        a(class="category--common-link category--common-all" data-category="All") All
    .category-common
        a(class="category--common-link" data-category="Bottomwear" ) Bottomwear
    .category-common
        a(class="category--common-link" data-category="Clothing Accessories" ) Clothing Accessories
    .category-common
        a(class="category--common-link" data-category="Winter Wear" ) Winter Wear
    .category-common
        a(class="category--common-link" data-category="Raincoats" ) Raincoats
    .category-common
        a(class="category--common-link" data-category="Topwear" ) Topwear
    .category-common
        a(class="category--common-link" data-category="Men's Footwear" ) Men's Footwear
    .category-common
        a(class="category--common-link" data-category="Fabrics" ) Fabrics
    .category-common
        a(class="category--common-link" data-category="Party Supplies" ) Party Supplies
    .category-common
        a(class="category--common-link" data-category="Inspire Clothing and Accessories" ) Inspire Clothing
    .category-common
        a(class="category--common-link" data-category="Winsome Deal Bags, Wallets & Belts" ) Winsome Bags Wallets Belts
    .category-common
        a(class="category--common-link" data-category="Roy Clothing and Accessories" ) Roy Clothing
    .category-common
        a(class="category--common-link" data-category="YOFAMA Bags, Wallets & Belts" ) YOFAMA Bags Wallets Belts
    .category-common
        a(class="category--common-link" data-category="Brand Trunk Bags, Wallets & Belts" ) Brand Trunk Bags Wallets Belts
    .category-common
        a(class="category--common-link" data-category="mentiezi Bags, Wallets & Belts" ) mentiezi Bags Wallets Belts 
    .category-common
        a(class="category--common-link" data-category="Uber Urban Clothing and Accessories" ) Urban Clothing