extends base
    
block content
    .aboutUs-main
        .aboutUs-main-c
            .aboutUs-main-img
                img(src="img/logo-cartGreen.png" alt="")
            .aboutUs-main-body
                .aboutUs-main-head About Us
                .aboutUs-main-head-content Hello readers! 
                .aboutUs-main-head-content Welcome to our ecart website! 
                .aboutUs-main-head-content Our website keeps more than 30,000 products. In our website you can buy without paying charges.
                .aboutUs-main-head-f features
                .aboutUs-main-head-content 
                    .aboutUs-main-head-content-t
                        .aboutUs-main-head-content-t-logo
                            svg
                                use(xlink:href='img/icons.svg#icon-arrow-right')
                        .aboutUs-main-head-content-t-text Search more than 30,000 results

                    .aboutUs-main-head-content-t
                        .aboutUs-main-head-content-t-logo
                            svg
                                use(xlink:href='img/icons.svg#icon-arrow-right')
                        .aboutUs-main-head-content-t-text Filter, sort and paginate results

                    .aboutUs-main-head-content-t
                        .aboutUs-main-head-content-t-logo
                            svg
                                use(xlink:href='img/icons.svg#icon-arrow-right')
                        .aboutUs-main-head-content-t-text Add items to cart

                    .aboutUs-main-head-content-t
                        .aboutUs-main-head-content-t-logo
                            svg
                                use(xlink:href='img/icons.svg#icon-arrow-right')
                        .aboutUs-main-head-content-t-text Order items and keep track of orders
                    

