extends base

block content
    .aboutUs
        .aboutUs-body
            .aboutUs-body-center
                .aboutUs-body-center-text GET IN TOUCH
                .aboutUs-body-center-text-content
                    .aboutUs-body-common.aboutUs-body-address
                        .aboutUs-body-common-icon
                            .aboutUs-body-common-icon-svg
                                svg 
                                    use(xlink:href='img/icons.svg#icon-map-pin')
                        .aboutUs-body-common-title ADDRESS 
                        .aboutUs-body-common-body 
                            h1 Permanent Address
                            p Behind Durga Nurshing Home, Ramangar
                            p Marar, Ramgarh 
                            p Jharkhand, PIN 829117
                            h1 Current Address
                            p Unit 5, Sir MVIT Mens Hostel,
                            p Husamaranahalli, Bengalurur
                            p Karanataka, PIN 562157
                    .aboutUs-body-common.aboutUs-body-address
                        .aboutUs-body-common-icon
                            .aboutUs-body-common-icon-svg
                                svg 
                                    use(xlink:href='img/icons.svg#icon-phone')
                        .aboutUs-body-common-title PHONE
                        .aboutUs-body-common-body
                            h1 Personal Contact Details
                            p +91 7319947648
                            h1 Official Contact Details 
                            p +91 6201645058
                    .aboutUs-body-common.aboutUs-body-address
                        .aboutUs-body-common-icon
                            .aboutUs-body-common-icon-svg
                                svg 
                                    use(xlink:href='img/icons.svg#icon-mail')
                        .aboutUs-body-common-title EMAIL
                        .aboutUs-body-common-body
                            h1 Personal email 
                            p niteshkumar01487@gmail.com
                            h1 Official email 
                            p nkcoder404@gmail.com
        .aboutUs-map